<form action="/stories" method="POST">
    <label for="title">TITLE</label>
    <input name="title" id="title" type="text">

    <label for="story">YOUR STORY</label>
    <input name="story" id="story" type="text">

    <button type="submit">PUBLISH</button>
</form>